{% extends "base.html" %}
{% block header %}Kontakt{% endblock %}
{% block content %}
    <!-- Section -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto align-content-center">
            <div class="row">
              <div class="col-md-6">
                <h1>Robert Gajda</h1>
              </div>
              <div class="col-md-6">
                <h1>Anna Sklarek</h1>
              </div>
            </div>
            <div class="row" style="padding: 150px 0 90px 0px">
              <div class="col-lg-12 text-center">
                <h3>INF SSI II st., sem. 3, gr. ITS</h3>
              </div>
            </div>
            </h3>
          </div>
        </div>
      </div>
    </section>
{% endblock %}